name: build-and-publish
on: workflow_dispatch
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: gh-pages

      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - run: node build.js
        env: 
          SERVICE_ACCOUNT: ${{ secrets.SERVICE_ACCOUNT }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}

      - uses: EndBug/add-and-commit@v7
        with:
          add: docs
          branch: gh-pages
